#el-borrow_apply-head {
  margin-bottom: 0;
}
#bb li a:hover {
  color: #0066BB;
  background-color: #e7e7e7;
}
#cc a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 80px;
}
#el-borrow_apply-list {
  margin-bottom: 50px;
}
#el-borrow_apply-list li ul {
  margin: 0;
  padding: 0;
}
#el-borrow_apply-list li ul li {
  list-style: none;
  padding: 10px 40px;
}
#el-borrow_apply-list li ul li.active {
  background-color: #337AB7;
}
#el-borrow_apply-list li ul li.active a {
  color: #FFFFFF;
}
#el-borrow_apply-list li .list {
  display: block;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: #F5F5F5;
  text-decoration: none;
}
#el-borrow_apply-list li .list3 {
  display: block;
  padding-left: 15px;
  background-color: #F5F5F5;
  padding: 10px;
  text-decoration: none;
}
#el-borrow_apply-list li .active {
  display: block;
  padding-left: 15px;
  background-color: #337AB7;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}
#el-borrow_apply-list .list-group-item {
  padding: 0;
}
#el-borrow_apply-pro .lineofcredit {
  border-left: 2px solid #0099DD;
  background-color: #F4F8FA;
  padding: 20px 15px;
  margin-bottom: 20px;
  font-family: "微软雅黑";
}
#el-borrow_apply-pro .lineofcredit h3 {
  color: #0099E2;
}
#el-borrow_apply-pro .lineofcredit p span.can {
  margin-left: 50px;
}
#el-userinfo-form {
  position: relative;
}
#el-userinfo-form .cost {
  border: 1px solid #dddddd;
  width: 260px;
  height: 160px;
  padding: 20px 30px;
  box-shadow: 2px 2px 10px #dddddd;
  position: absolute;
  right: 20px;
  top: 0;
  border-radius: 4px;
}
#el-userinfo-form .cost .correlation {
  font-size: 20px;
  font-family: "微软雅黑";
}
