#el-personal-head {
  margin-bottom: 0;
}
#bb li a:hover {
  color: #0066BB;
  background-color: #e7e7e7;
}
#cc a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 80px;
}
#el-personal-list {
  margin-bottom: 50px;
}
#el-personal-list li ul {
  margin: 0;
  padding: 0;
}
#el-personal-list li ul li {
  list-style: none;
  padding: 10px 40px;
}
#el-personal-list li ul li.active {
  background-color: #337AB7;
}
#el-personal-list li ul li.active a {
  color: #FFFFFF;
}
#el-personal-list li .list {
  display: block;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: #F5F5F5;
  text-decoration: none;
}
#el-personal-list li .list3 {
  display: block;
  padding-left: 15px;
  background-color: #F5F5F5;
  padding: 10px;
  text-decoration: none;
}
#el-personal-list .list-group-item {
  padding: 0;
}
#el-personal-content {
  padding-bottom: 0;
}
#el-personal-content .personal-img {
  width: 100px;
  height: 100px;
  border: 1px solid #dddddd;
  margin-left: 20px;
  padding: 0;
}
#el-personal-content .personal-img img {
  display: block;
  margin: 10px;
  width: 80px;
}
#el-personal-content .personal-money div {
  font-size: 20px;
  padding-left: 40px;
}
#el-personal-content .personal-account {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#el-personal-content .approve > div {
  padding: 20px 15px ;
}
